.register-box {
  width: 100%;
  text-align: start;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

.register-box h2 {
  color: var(--text-main);
  margin-bottom: 5px;
}

.register-box .subtitle {
  font-size: 14px;
   font-weight: 500;
  margin-bottom: 25px;
}
.register-box .subtitle,
.register-box .subtitle * {
  color: var(--text-main) !important;
}
.input-group {
  margin-bottom: 8px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  padding: 10px;
  background: var(--bg-main);
  position: relative;
}
.show-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.show-btn:hover {
  color: var(--primary);
}
.show-btn:focus {
  outline: none;
}
.input-field input {
  flex: 1;
  padding-right: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-main);
  font-size: 14px;
}

.icon {
  margin-right: 8px;
  color: var(--text-secondary);
}

html[dir="rtl"] .icon {
  margin-right: 0;
  margin-left: 8px;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background: var(--primary);
  color: var(--text-light);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.register-btn:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
opacity: 0.9;
}

.register-btn:active {
  transform: scale(0.96);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.register-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 150, 255, 0.4);
}


.register-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: var(--text-secondary);
}
.input-error {
  border: 2px solid red !important;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 0;
}

.helper-text {
  color: gray;
  font-size: 12px;
  margin-top: 0;
}
.general-error {
  text-align: center;
  margin-bottom: 15px;
  color: #ef4444;
  font-weight: 500;
}

@media (max-width: 600px) {

  .register-box {
    max-width: 100%;
  }

  .input-field input {
    font-size: 13px;
  }

  .register-btn {
    padding: 11px;
  }

}