.notfound {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.notfound h1 {
  font-size: 100px;
  color: var(--primary);
}

.home-btn {
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .notfound h1 {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .notfound {
    height: 80vh;
    padding: 20px;
    text-align: center;
  }

  .notfound h1 {
    font-size: 55px;
  }

  .notfound h2 {
    font-size: 20px;
  }

  .notfound p {
    font-size: 14px;
  }

  .home-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}