.login-box {
  width: 100%;
}

.login-box h2 {
  margin-bottom: 5px;
  color: var(--primary);
}

.subtitle {
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  text-align: start;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  padding: 10px;
  background: var(--bg-main);
}

.input-field input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-main);
  font-size: 14px;
}

.icon {
  margin-right: 8px;
  color: var(--text-secondary);
}

html[dir="rtl"] .icon {
  margin-right: 0;
  margin-left: 8px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: var(--primary);
  color: var(--text-light);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.login-btn:hover:not(:disabled) {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.login-btn:active:not(:disabled) {
  transform: scale(0.96);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.login-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 150, 255, 0.4);
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
.login-btn:hover {
  opacity: 0.9;
}

.forgot {
  text-align: center;
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: var(--primary);
  cursor: pointer;
}

.login-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}
.login-footer p {
  color: var(--primary);
}
.input-error {
  border: 2px solid red !important;
}
.google-btn {
  margin-top: 30px;
}

@media (max-width: 600px) {

  .login-box {
    width: 100%;
  }

  .subtitle {
    font-size: 13px;
  }

  .login-btn {
    padding: 11px;
  }

}