* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}


.auth-image-side {
  background-image: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
   url("https://images.pexels.com/photos/7972949/pexels-photo-7972949.jpeg");
  background-size: cover;
  background-position: center;
}

.auth-form-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  color: var(--text-main);
  padding: 60px;
}

.auth-content {
  width: 100%;
  max-width: 420px;
}

.auth-switch {
  margin-top: 25px;
  text-align: center;
  color: var(--text-secondary);
}

.auth-switch button {
  border: none;
  background: none;
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
  margin-left: 6px;
}

html[dir="rtl"] .auth-switch button {
  margin-left: 0;
  margin-right: 6px;
}