body{
  margin:0;
   background: var(--bg-secondary) !important;
  color: var(--text-main);
}
.files-container{
  width:100%;
  padding:20px 20px 60px 10px;
  min-height:100vh;
}


.favorites-header{
  margin-bottom:40px;
}

.badge{
  background:#e6f0ff;
 color: var(--primary);
  font-size:12px;
  padding:6px 14px;
  border-radius:20px;
  font-weight:600;
  letter-spacing:1px;
}
.favorites-header h1{
  font-size:56px;
  margin:10px 0 10px;
  font-weight:700;
 color: var(--text-main);
  text-align:left;
}

.blue{
color: var(--primary);
}

.favorites-header p{
  font-size:18px;
 color: var(--text-secondary);
   max-width:650px;
  line-height:1.6;
  text-align: left;
}
@media (max-width: 768px) {
  .files-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .files-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .favorites-header h1 {
    font-size: 36px;
  }
  .favorites-header p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .favorites-header h1 {
    font-size: 28px;
  }
  .favorites-header p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .files-container {
    padding: 20px 15px 60px 15px;
  }
}